/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.outerbox {
  display: flex; 
}

.left-div {
  width: 65%;
}

.right-div {
  display: flex;
  flex-direction: column;
  background-color:blue;
  width: 35%;
  height: 100vh;
  justify-content: center;
}

.right-div > * {
  padding: 20px 100px;
  color: white;
}

.upper {
  display: flex;
  height: 20vh;
  justify-content: flex-end;
  margin: 10px 100px 0 0;
}